In [2]:
import read_data
import basic_stats as bs
path=r"C:\Users\souradipn408\Documents\Data Science\ScikitLearn\PythonWalmartAnalysis\Walmart_Store_sales.csv"
df2=read_data.read_data(path)
walmart_data=df2
df2.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.57,211.10,8.11
1,1,12-02-2010,1641957.44,1,38.51,2.55,211.24,8.11
2,1,19-02-2010,1611968.17,0,39.93,2.51,211.29,8.11
3,1,26-02-2010,1409727.59,0,46.63,2.56,211.32,8.11
4,1,05-03-2010,1554806.68,0,46.50,2.62,211.35,8.11

In [283]:
import numpy as np
import pandas as pd
#df2.insert(2,'C',value=1)
#temp=np.arange(df2.shape[0])+1
#df2.insert(2,'B',np.arange(df2.shape[0])+1)
df3=df2
df3["Date"]=pd.to_datetime(df3["Date"])
df3=df3.sort_values('Date',ascending=True)
df3[df3.Store==1].head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
34,1,2010-01-10,1453329.50,0,71.89,2.60,211.67,7.84
8,1,2010-02-04,1594968.28,0,62.27,2.72,210.82,7.81
21,1,2010-02-07,1492418.14,0,80.91,2.67,211.22,7.79
2,1,2010-02-19,1611968.17,0,39.93,2.51,211.29,8.11
3,1,2010-02-26,1409727.59,0,46.63,2.56,211.32,8.11

In [284]:
store=1
df_x=df2[df2.Store==store][['Fuel_Price','CPI','Unemployment']]
df_y=df2[df2.Store==store][['Weekly_Sales']]

In [285]:
from sklearn.linear_model import LinearRegression as lr
from sklearn.model_selection import train_test_split as tts
reg=lr()
x_train,x_test,y_train,y_test=tts(df_x,df_y,test_size=0.3)
reg.fit(x_train,y_train)
print(reg.coef_)

[[-61662.49536693  16438.16643671  89159.27452965]]

In [286]:
#print(reg.predict(x_test))
df4=pd.DataFrame(reg.predict(x_test),columns=["y_pred"])
y_pred=reg.predict(x_test)

In [287]:
from sklearn.metrics import mean_squared_error as mse
print(mse(y_test,y_pred))

14654779160.521496

In [289]:
from sklearn.metrics import r2_score
print(round(r2_score(y_test,y_pred),5))
r2_score(y_test,y_pred)

0.15953

0.15953142786312435

In [320]:
walmart_data['Day'] = pd.to_datetime(walmart_data['Date']).dt.day_name()
walmart_data.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Day
0,1,05-02-2010,1643690.90,0,42.31,2.57,211.10,8.11,Sunday
1,1,12-02-2010,1641957.44,1,38.51,2.55,211.24,8.11,Thursday
2,1,19-02-2010,1611968.17,0,39.93,2.51,211.29,8.11,Friday
3,1,26-02-2010,1409727.59,0,46.63,2.56,211.32,8.11,Friday
4,1,05-03-2010,1554806.68,0,46.50,2.62,211.35,8.11,Monday

In [4]:
x_features_object = walmart_data[walmart_data['Store'] ==1][['Store','Date']]
date_obj = walmart_data[walmart_data['Store'] ==1][['Date']]
date_obj.index +=1
x_features_object.Date = date_obj.index
x_features_object.head()

   Store  Date
0      1     1
1      1     2
2      1     3
3      1     4
4      1     5

In [331]:
x_features_object = walmart_data[walmart_data['Store'] ==1][['Store','Date']]
date_obj = walmart_data[walmart_data['Store'] ==1][['Date']]
date_obj.index +=1
x_features_object.Date = date_obj.index
x_features_object

response_set_cpi = walmart_data[walmart_data['Store'] ==1]['CPI'].astype('int64')
response_set_unemployment = walmart_data[walmart_data['Store'] ==1]['Unemployment'].astype('int64')


x_train_cpi,x_test_cpi,y_train_cpi,y_test_cpi = train_test_split(feature_dataset,response_set_cpi,random_state=1)
x_train_unemp, x_test_unemp, y_train_unemp, y_test_unemp = train_test_split(feature_dataset,response_set_unemployment,random_state=1)

from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(max_iter=10000)
logreg.fit(x_train_cpi,y_train_cpi)
y_pred = logreg.predict(x_test_cpi)
logreg.fit(x_train_unemp,y_train_unemp)


y_pred_unemp = logreg.predict(x_test_unemp)


from sklearn import metrics
print(metrics.accuracy_score(y_test_cpi,y_pred))
print(metrics.accuracy_score(y_test_unemp,y_pred_unemp))

0.75
0.9444444444444444

In [333]:
print('cpi actual :', y_test_cpi.values[0:10])
print('cpi Predicted :', y_pred[0:10])
print('actual Unemployment :', y_test_unemp.values[0:30])
print('Predicted Unemployment :', y_pred_unemp[0:30])

cpi actual : [215 221 211 211 221 211 210 211 215 217]
cpi Predicted : [215 221 211 211 221 211 211 211 215 217]
actual Unemployment : [7 7 7 8 7 7 7 7 7 7 6 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7]
Predicted Unemployment : [7 7 7 7 6 7 7 7 7 7 6 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7]

In [325]:
y_target = walmart_data[walmart_data['Store'] ==1]['Weekly_Sales']
y_target.head()
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_features_object,y_target,random_state=1)

In [327]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(x_train,y_train)
feature_dataset = walmart_data[walmart_data['Store'] ==1][['Store','CPI','Unemployment','Fuel_Price']]
feature_dataset.head()

   Store    CPI  Unemployment  Fuel_Price
0      1 211.10          8.11        2.57
1      1 211.24          8.11        2.55
2      1 211.29          8.11        2.51
3      1 211.32          8.11        2.56
4      1 211.35          8.11        2.62